[Unit]
Description=Desktop alert warning of low remaining battery

[Service]
Type=oneshot
# Change username and modify path to script as needed
ExecStart=/home/ranjith/.local/bin/scripts/bat-not

[Install]
WantedBy=graphical.target
